In [ ]:
Understanding variables

In [ ]:
Rule no.1: No spaces are allowed in variable names.
For example, my name = "shakil" is incorrect syntax.

In [1]:
my name = "shakil"

SyntaxError: invalid syntax (993284674.py, line 1)

In [2]:
#Correct syntax
my_name = "shakil"
print (my_name)

shakil

In [ ]:
Rule 2: Variable names should not start with a number.
For example, 1name = "shakil" is invalid syntax.

In [3]:
1name = "shakil"

SyntaxError: invalid decimal literal (2653369322.py, line 1)

In [5]:
#Correct Syntax 
name1 = "shakil"
print (name1)

shakil

In [ ]:
Rule 3: Variable names should not contain special characters like @, #, $, %, etc.
For example, na@me = "shakil" is invalid syntax.

In [6]:
na@me = "shakil"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2257213595.py, line 1)

In [8]:
#Correct Syntax
name_123 = "shakil"
print (name_123)

shakil

In [ ]:
#Data Types in Python:
String (str) – A sequence of characters (e.g., "hello")

Integer (int) – Whole numbers (e.g., 42)

Float (float) – Numbers with decimal points (e.g., 3.14)

List (list) – Ordered. changeable collection (e.g., [1, 2, 3])

Tuple (tuple) – Ordered. unchangeable collection (e.g., (1, 2, 3))

Dictionary (dict) – Key-value pairs (e.g., {"name": "shakil"})

In [ ]:
#Note:- Python is a case-sensitive programming language
name = "Shakil"
Name = "AhmaD"
print(name)  # Shakil
print(Name)  # AhmaD

In [ ]:
#Classification of Data Type: String (str)

You can use single (' ') or double (" ") quotes. There is no difference between them.

In [11]:
name = "Shakil"
type (name)

str

In [12]:
fullname = "shakil ahmad"
print (fullname)

shakil ahmad

In [13]:
print (fullname.title())

Shakil Ahmad

In [14]:
print (fullname.upper())

SHAKIL AHMAD

In [15]:
print (fullname.lower())

shakil ahmad